   <td class="center-td"><%= link_to ("<i class='fas fa-pencil'></i>").html_safe, edit_crypto_path(coin) %></td>
   <td class="center-td"><%= link_to fa_icon('trash'), coin, method: :delete, data: { confirm: 'Are you sure you want to delete this post' }  %></td>