
  <div class="jumbotron">
    <h1 class="thin">Crypto-grapher</h1>
    <p class="display-4">The latest <strong>crypto prices</strong> and <strong>news</stron></p>
    <hr class="my-4">
    <p class="lead">
    </p>
  </div>
